streamlit==1.26.0
PyPDF2==3.0.1
python-docx==0.8.11
numpy==1.25.2
pandas==1.5.3
langchain==0.0.314
faiss-cpu==1.7.4
streamlit-chat==0.0.2.2
python-dotenv==1.0.0
openai==0.27.8
huggingface_hub==0.16.4
transformers==4.33.3
sentence-transformers==2.2.2
pydantic==1.10.12
